@font-face {
    font-family: 'ralewaythin';
    src: url('font/raleway/kit/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/raleway/kit/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--white);
    color: var(--black);
}
/* navbar style */
.navbar {
    padding: 20px 0;
    font-size: 24px;
    font-family: 'ralewaythin', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

.navbar > ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    list-style-type: none; /* remove bullets */
}

.navbar ul li a {
  text-decoration: none;
    color: #444444;
    font-family: 'ralewaythin', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

.navbar ul li a:hover {
  text-decoration: underline;
  color: #111111;
}
/* title style */
.title > h1 {
    position: center;
    color: var(--black);
    font-family: 'ralewaythin', Arial, sans-serif;
    font-weight:bold;
    font-style:normal;
    margin-bottom: 0;
}

.title {
    text-align: center
}

/* link container and links */
.link-container {
  min-height: 30px;
  overlfow: hidden;
  /* background: #CCCCCC; */
  display: flex;
  /* Center links: */
  align-items: center;
  justify-content: center;
  margin-bottom: 5px; /* put space between links and boxes */
}

.link-icon {
  color: #444444;
  transition: 0.2s;
  text-decoration: none;
  margin: 10px;
 }

 .link-icon:hover {
   color: #111111;
}

a {
    text-decoration: none;
    font-family: 'ralewaythin', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'ralewaythin', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}



.grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 140px;
    grid-gap: 20px;
    justify-content: center;
}



p {
    text-align: center;
    font-family: 'ralewaythin', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

h1 {
    font-size: 40px;
    font-weight:900;
    font-family: 'ralewaythin', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

p {
    font-size: 18px;
    font-family: 'ralewaythin', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > p {
    font-size: 14px;
    color: var(--black);
    font-family: 'ralewaythin', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

button {
    margin: 0px auto;
    display: block;
    padding: 5px 71px;
    border: none;
}