.box1 {
  transition: box-shadow .3s;
  width: 100%;
  height: 82%px;
  margin: 0px;
  border-radius:10px;
  border: 2px solid #ccc;
  /* background: #fff; */
  background-image: url("https://i.dlpng.com/static/png/6726760_preview.png");
  background-color: #ccc;
  background-size: cover;
  float: left;
}
.box2 {
  transition: box-shadow .3s;
  width: 100%;
  height: 82%px;
  margin: 0px;
  border-radius:10px;
  border: 2px solid #ccc;
  /* background: #fff; */
  background-image: url("https://www.elegantthemes.com/blog/wp-content/uploads/2020/02/000-Online-Code-Editors.png");
  background-color: #ccc;
  background-size: cover;
  float: left;
}
.box3 {
  transition: box-shadow .3s;
  width: 100%;
  height: 82%px;
  margin: 0px;
  border-radius:10px;
  border: 2px solid #ccc;
  /* background: #fff; */
  background-image: url("/thumbnail-tutorials.png");
  background-color: #ccc;
  background-size: cover;
  float: left;
}
.box4 {
  transition: box-shadow .3s;
  width: 100%;
  height: 82%px;
  margin: 0px;
  border-radius:10px;
  border: 2px solid #ccc;
  /* background: #fff; */
  background-image: url("https://i.pinimg.com/originals/d1/d2/b4/d1d2b4c827cb47658d865370491f412e.jpg");
  background-color: #ccc;
  background-size: cover;
  float: left;
}
.box1:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.35); 
}
.box2:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.35); 
}
.box3:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.35); 
}
.box4:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.35); 
}

:root {
    --orange: #bd5822;
    --teal: #1fc46d;
    --red: #ff6f69;
    --beige: #ffeead;
    --yellow: #ffcc5c;
}

html, body {
    background: var(--beige);
    color: var(--red);
}

.title > h1 {
    position: center;
    color: var(--orange);
}

.title {
    text-align: center
}
/*h2 span {
    background-color: rgba(33,33,256,.2);
    padding-right: 10px;
    padding-left: 10px;
} */
.grid > h1 {
    color: black;
    background-color: rgba(250,250,250,.2);
    letter-spacing: 2px;
    font-weight: 900;
    font-family: Sans-Serif;
}
p {
    color: var(--red);
}
#navbar a {
    color: var(--orange);
}
h1 a {
    color: black
    font-family: Sans-Serif;
}

.item {
    background: var(--yellow);
    color: var(--red);
}
.box2 > h1 {
    background-color: rgba(250,250,250,.2);
}
button {
    background: var(--red);
    color: var(--yellow);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
}

.featured {
     --yellow: #ffe55b;
     --red: #ff5564;   
}

/*
    --yellow: #ffe55b;
    --red: #ff5564;
*/